body {
    margin: 0;
}

.ytp-pause-overlay {
    display: none !important;
}

a {
    font-size: 20px;
}

#player-wrapper {
    text-align: center;
    position: sticky;
    top: 0;
    background: black;
    margin-bottom: 20px;
    max-width: 100%;
    height: 70%;
}

#page-wrapper {
    margin : 8px;
}

@media only screen and (max-width: 600px) {
    #player-wrapper {
        height: 30%;
    }
}
