.ytp-pause-overlay {
    display: none !important;
}

a {
    font-size: 20px;
}

#player-wrapper {
    text-align: center;
    position: sticky;
    top: 0;
    background: black;
    margin-bottom: 20px;
}